<!-- START HEADER-->
<div *ngIf="currentRoute !== '/surveyplay' ">
  <header class="header" app-header></header>
  <!-- END HEADER-->
  <!-- START SIDEBAR-->
  <nav class="page-sidebar" id="sidebar" app-sidebar></nav>
  <!-- END SIDEBAR-->

  <!-- START PAGE CONTENT-->
  <div class="content-wrapper">

    <router-outlet></router-outlet>
    <!-- <div app-banner></div> -->
    <footer class="page-footer" app-footer></footer>
  </div>
  <!-- END PAGE CONTENT-->
</div>
<!-- Only for surveyplay and preview -->

<div *ngIf="currentRoute === '/surveyplay'">

  <router-outlet></router-outlet>

  <!-- END PAGE CONTENT-->
</div>
